
.contact{
  margin-top: 40rem;
  margin-bottom: 50rem;

  .links{
    display: flex;
    margin: 10rem 0 0 10rem;
    align-items: center;

    button{
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      font-size: 3rem;
      background-color: $accent2;
      color: $white;
      &:hover{
        background-color: $accent;
        cursor: pointer;
      }
    }
    .media{
      display: flex;
      flex-direction: column;
      font-size: 4rem;
      margin-left: 10rem;
      a{
        color: $accent2;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 2rem;
        &:hover{
          font-style: italic;
          text-decoration: line-through;
        }
      }
      .extra{
        font-size: 2rem;
        margin-top: 1rem;
        div{
          margin-top: 1rem;
        }
      }
    }
    @media (max-width: $layout-breakpoint-small) {
      margin: 10rem 0 0 0;
      flex-direction: column;
      button{
        width: 15rem;
        height: 15rem;
        font-size: 2.5rem;
        margin-bottom: 5rem;
      }
      .media{
        margin: 0;
        a, .extra{
          font-size: 2rem;
        }
      }
    }
  }
}